<section class="relative">
  {{ partial:components/media/image 
    image="visual-usm" 
    alt="" 
    width="1440" 
    height="664"
    :breakpoints="['xl', 'lg']"
    class="aspect-[16/9] lg:aspect-[16/8] object-cover hidden md:block" }}

    {{ partial:components/media/image 
      image="visual-usm-mobile" 
      alt="" 
      width="1000" 
      height="1000"
      class="md:hidden" }}


    <div class="md:absolute md:inset-0 md:w-full md:h-full">
      <div class="md:grid md:grid-cols-12 md:gap-x-16 w-full max-w-page mx-auto">

        <div class="absolute top-40 left-20 md:relative md:top-0 md:left-0 md:col-span-3 xl:col-start-2 md:ml-20 lg:ml-40 xl:-ml-50 md:mt-45 lg:mt-75 xl:mt-125">
          {{ partial:icons/badge class="size-145 lg:size-170 xl:size-[240px]" }}
        </div>

        <div class="md:col-span-9 lg:col-span-9 xl:col-span-5 md:col-start-6 xl:col-start-8 md:justify-self-end md:mt-50 md:mr-20 lg:mr-40 xl:mr-0 xl:mt-95">
          <article class="px-20 py-20 md:bg-white/80 md:inline-flex md:items-center md:p-30 lg:p-40 xl:p-60 w-auto md:max-w-[425px] lg:max-w-[500px] xl:max-w-[660px]">
            <div>
              <h1 class="text-3xl lg:text-4xl xl:text-5xl leading-[1.1] mb-20 xl:mb-40">
                Arbeiten mit<br>Weitblick:<br>
                <strong>Co-Working<br>mit Aussicht</strong>
              </h1>
              <p class="text-lg xl:text-xl leading-[1.2] !mb-0">
                Entdecke unsere modernen Arbeitsplätze im Gewerbegebiet Täfern in Baden-Dättwil.
              </p>
            </div>
          </article>
        </div>
      </div>
    </div>
</section>

<section class="my-40 md:my-60 xl:my-90">

  <a name="projekt"></a>

  <div class="w-full md:grid md:grid-cols-12 md:gap-x-16 max-w-page mx-auto">
    
    <div class="md:col-span-6 md:order-2 xl:col-start-6">

      {{ partial:components/media/image 
        image="visual-projekt" 
        alt="" 
        width="900" 
        height="900" }}
    </div>

    <div class="md:col-span-6 xl:col-span-3 xl:col-start-2 md:order-1 flex flex-col justify-center">
      <article class="px-20 lg:px-60 xl:px-0 pt-20 md:pt-0">
        <h2 class="font-bold text-3xl lg:text-4xl xl:text-5xl mb-10 lg:mb-20">
          Projekt
        </h2>
        <p>Wir vermieten stilvolle Co-Working Spaces und einzelne Arbeitsplätze im Attika-Stock der Täfernstrasse 14a in Dättwil. Das hochwertig ausgestattete Grossraumbüro überzeugt mit modernen Möbeln von USM und Wilkhahn sowie grossen Fensterfronten, die für viel Tageslicht und eine fantastische Aussicht sorgen. Eine gut ausgestattete Küche und eine grosse Terrasse bieten den idealen Rahmen für entspannte Pausen – perfekt für produktives Arbeiten.</p>
      </article>
    </div>

  </div>
</section>

<section class="my-40 md:my-60 xl:my-90">

  <a name="angebot"></a>

  <div class="w-full md:grid md:grid-cols-12 md:gap-x-16 max-w-page mx-auto">

    <div class="md:col-span-6 xl:col-start-2 md:order-1">
      {{ partial:components/media/image 
        image="visual-angebot" 
        alt="" 
        width="900" 
        height="900" }}
    </div>

    <div class="md:col-span-6 xl:col-span-3 xl:col-start-9 md:order-2 flex flex-col justify-center">
      <article class="px-20 lg:px-60 xl:px-0 pt-20 md:pt-0">
        <h2 class="font-bold text-3xl lg:text-4xl xl:text-5xl mb-10 lg:mb-20">
          Angebot
        </h2>
        <p>Bei uns entstehen moderne Arbeitsplätze mit schnellen Glasfaseranschlüssen und leistungsstarker Infrastruktur. Ein separates Sitzungszimmer steht für Meetings bereit. Die kleine Küche mit Kaffeemaschine und die gemütliche Sitzecke bieten Raum für Erholung und Austausch. Ein moderner Drucker rundet die Ausstattung ab – ideal für fokussiertes Arbeiten und kreativen Austausch.<br><br>Für Preisinformationen oder Fragen kontaktieren Sie uns gerne telefonisch oder über das Kontaktformular.</p>
      </article>
    </div>

  </div>
</section>

<section class="my-40 md:my-60 xl:my-90">
  
  <a name="lage"></a>

  <div class="w-full md:grid md:grid-cols-12 md:gap-x-16 max-w-page mx-auto">
    
    <div class="md:col-span-6 md:order-2 xl:col-start-6">
      <div class="aspect-square bg-gray-200">
        {{ partial:misc/map zoom="13" }}
      </div>
    </div>

    <div class="md:col-span-6 xl:col-span-3 xl:col-start-2 md:order-1 flex flex-col justify-center">
      <article class="px-20 lg:px-60 xl:px-0 pt-20 md:pt-0">
        <h2 class="font-bold text-3xl lg:text-4xl xl:text-5xl mb-10 lg:mb-20">
          Lage
        </h2>
        <p>Dättwil ist ein Teil der Gemeinde Baden und liegt nur etwa 10 Minuten vom Stadtzentrum Baden entfernt – sowohl mit dem Auto als auch mit den öffentlichen Verkehrsmitteln. Die direkte Anbindung an die Autobahn A1 ermöglicht eine schnelle und unkomplizierte Erreichbarkeit aus Zürich und anderen wichtigen Wirtschaftsregionen. Diese strategisch günstige Lage macht Dättwil zu einem attraktiven Standort für Unternehmen, die von einer ausgezeichneten Verkehrsanbindung und der Nähe zu wirtschaftlichen Knotenpunkten profitieren möchten.</p>
      </article>
    </div>

  </div>
</section>

<section class="my-40 md:my-60 xl:my-90">

  <a name="kontakt"></a>

  <div class="w-full md:grid md:grid-cols-12 md:gap-x-16 max-w-page mx-auto">

    <div class="md:col-span-6 xl:col-span-3 xl:col-start-9 order-1 md:order-2 flex flex-col justify-center">
      <article class="px-20 lg:px-60 xl:px-0 md:pt-0 mb-20 md:mb-0">
        <h2 class="font-bold text-3xl lg:text-4xl xl:text-5xl mb-10 lg:mb-20">
          Kontakt
        </h2>
        <p>Bei Interesse oder für weitere Informationen stehen wir Ihnen gerne zur Verfügung. Kontaktieren Sie uns über das Formular oder rufen Sie uns unter <a href="tel:0628735025" title="Rufen Sie uns an" class="hover:underline underline-offset-2 decoration-1">062&nbsp;873&nbsp;50&nbsp;25</a> direkt an.</p>
      </article>
    </div>

    <div class="md:col-span-6 xl:col-start-2 order-2 md:order-1 px-20 lg:pl-60 xl:pl-0">
      {{ partial:misc/contact-form }}
    </div>



  </div>
</section>