
<footer class="bg-granite text-white px-20 lg:px-40 py-40 xl:py-60">
  <div class="lg:grid lg:grid-cols-12 lg:gap-x-16 lg:max-w-page lg:mx-auto">
    <div class="lg:col-span-4 xl:col-span-4 xl:col-start-2">
      <address class="not-italic">
        Nimeg AG<br>
        Täfernstrasse 14b<br>
        5405 Baden Dättwil<br><br class="lg:hidden">
        <a 
          href="mailto:info@nimeg.com" 
          title="info@nimeg.com"
          class="hover:underline underline-offset-4 decoration-1 decoration-white">
          info@nimeg.com
        </a><br>
        <a 
          href="tel:+41628735025" 
          title="+41 62 873 50 25"
          class="hover:underline underline-offset-4 decoration-1 decoration-white">
          +41 62 873 50 25
        </a>
      </address>
    </div>
    <div class="lg:col-span-6 xl:col-start-6 mt-45 lg:mt-0">
      <h3>Unsere Projektpartner</h3>
      <div class="flex flex-col gap-y-25 lg:gap-y-0 lg:flex-row lg:items-start lg:gap-x-25 xl:gap-x-55 pt-25 xl:pt-28">
        <a href="" class="group">
          <img src="/assets/logos/ebv.png" alt="EBV" class="h-46 xl:h-65 w-auto group-hover:opacity-75 transition-all">
        </a>
        <a href="" class="group">
          <img src="/assets/logos/a04.png" alt="A04" class="h-52 xl:h-76 w-auto group-hover:opacity-75 transition-all">
        </a>
        <a href="" class="group">
          <img src="/assets/logos/usm.svg" alt="USM" class="h-31 xl:h-45 w-auto group-hover:opacity-75 transition-all">
        </a>
        <a href="" class="group">
          <img src="/assets/logos/wilkhahn.svg" alt="Wilkhahn" class="h-33 xl:h-45 w-auto group-hover:opacity-75 transition-all">
        </a>
      </div>
    </div>
  </div>
</footer>
{{ vite src="resources/js/app.js" }}
{{ livewire:scripts }}
</body>
</html>