<header 
  class="bg-white sticky top-0 z-50 md:relative h-85 lg:h-190 pb-15 lg:pb-0 px-20 lg:px-0">
  <div class="w-full h-full lg:h-[inherit] flex justify-between items-end lg:items-center">
    <a 
      href="javascript:;" 
      x-on:click="menu = ! menu" 
      title="{{ "Menü anzeigen" | trans }}"
      class="group flex justify-center mb-10 lg:mb-0 lg:hidden">
      {{ partial:icons/burger class="w-30 h-auto" }}
    </a>
    <div class="w-full lg:grid lg:grid-cols-12 lg:gap-x-16 lg:max-w-page lg:mx-auto">
      <div class="lg:pl-40 xl:pl-0 lg:col-span-4 xl:col-start-2 lg:mt-12 xl:mt-20">
        {{ partial:menu/wrapper }}
      </div>
      <div class="flex justify-end lg:col-span-4 lg:col-start-9 xl:col-start-8 lg:pr-40 xl:pr-0 lg:justify-self-end">
        <a 
          href="/"
          title="Startseite">
          {{ partial:icons/logo class="block w-[260px] lg:w-[360px] xl:w-[480px] h-auto" }}
        </a>
      </div>
    </div>
  </div>
</header>