@import "typo/webfonts.css";
@import "vendor/mapbox.css";
@import "vendor/swiper.css";
@import "vendor/swiper-custom.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  @apply hidden;
}

main {
  @apply flex-1;
}

main p, main ul {
  @apply mb-16;
}

main ul {
  @apply list-disc list-inside ml-4;
}

main a {
  @apply underline underline-offset-2 decoration-1 hover:no-underline;
}

h1, h2, h3 {
}

strong {
  @apply font-bold;
}

.marker {
  background-image: url('../icons/marker.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 50px;
  width: 40px;
}

